<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanzoy.xueta.mapper.LabelMapper">
  <resultMap id="BaseResultMap" type="com.hanzoy.xueta.domain.Label">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="weekTime" jdbcType="INTEGER" property="weektime" />
    <result column="allTime" jdbcType="INTEGER" property="alltime" />
    <result column="weekNumber" jdbcType="INTEGER" property="weeknumber" />
    <result column="allNumber" jdbcType="INTEGER" property="allnumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, userid, label, weekTime, allTime, weekNumber, allNumber
  </sql>
  <select id="selectByExample" parameterType="com.hanzoy.xueta.domain.LabelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from label
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from label
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from label
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hanzoy.xueta.domain.LabelExample">
    delete from label
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hanzoy.xueta.domain.Label">
    insert into label (id, userid, label, 
      weekTime, allTime, weekNumber, 
      allNumber)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{label,jdbcType=VARCHAR}, 
      #{weektime,jdbcType=INTEGER}, #{alltime,jdbcType=INTEGER}, #{weeknumber,jdbcType=INTEGER}, 
      #{allnumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hanzoy.xueta.domain.Label">
    insert into label
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="label != null">
        label,
      </if>
      <if test="weektime != null">
        weekTime,
      </if>
      <if test="alltime != null">
        allTime,
      </if>
      <if test="weeknumber != null">
        weekNumber,
      </if>
      <if test="allnumber != null">
        allNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="weektime != null">
        #{weektime,jdbcType=INTEGER},
      </if>
      <if test="alltime != null">
        #{alltime,jdbcType=INTEGER},
      </if>
      <if test="weeknumber != null">
        #{weeknumber,jdbcType=INTEGER},
      </if>
      <if test="allnumber != null">
        #{allnumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hanzoy.xueta.domain.LabelExample" resultType="java.lang.Long">
    select count(*) from label
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update label
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.label != null">
        label = #{record.label,jdbcType=VARCHAR},
      </if>
      <if test="record.weektime != null">
        weekTime = #{record.weektime,jdbcType=INTEGER},
      </if>
      <if test="record.alltime != null">
        allTime = #{record.alltime,jdbcType=INTEGER},
      </if>
      <if test="record.weeknumber != null">
        weekNumber = #{record.weeknumber,jdbcType=INTEGER},
      </if>
      <if test="record.allnumber != null">
        allNumber = #{record.allnumber,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update label
    set id = #{record.id,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      label = #{record.label,jdbcType=VARCHAR},
      weekTime = #{record.weektime,jdbcType=INTEGER},
      allTime = #{record.alltime,jdbcType=INTEGER},
      weekNumber = #{record.weeknumber,jdbcType=INTEGER},
      allNumber = #{record.allnumber,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hanzoy.xueta.domain.Label">
    update label
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="label != null">
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="weektime != null">
        weekTime = #{weektime,jdbcType=INTEGER},
      </if>
      <if test="alltime != null">
        allTime = #{alltime,jdbcType=INTEGER},
      </if>
      <if test="weeknumber != null">
        weekNumber = #{weeknumber,jdbcType=INTEGER},
      </if>
      <if test="allnumber != null">
        allNumber = #{allnumber,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hanzoy.xueta.domain.Label">
    update label
    set userid = #{userid,jdbcType=INTEGER},
      label = #{label,jdbcType=VARCHAR},
      weekTime = #{weektime,jdbcType=INTEGER},
      allTime = #{alltime,jdbcType=INTEGER},
      weekNumber = #{weeknumber,jdbcType=INTEGER},
      allNumber = #{allnumber,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>