<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanzoy.xueta.mapper.NpcjlbMapper">
  <resultMap id="BaseResultMap" type="com.hanzoy.xueta.domain.Npcjlb">
    <id column="userid" jdbcType="INTEGER" property="userid" />
    <id column="npcid" jdbcType="INTEGER" property="npcid" />
    <result column="isHaving" jdbcType="BIT" property="ishaving" />
    <result column="favor" jdbcType="INTEGER" property="favor" />
    <result column="Reid" jdbcType="INTEGER" property="reid" />
    <result column="isDialogue" jdbcType="BIT" property="isdialogue" />
    <result column="propnumber" jdbcType="INTEGER" property="propnumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    userid, npcid, isHaving, favor, Reid, isDialogue, propnumber
  </sql>
  <select id="selectByExample" parameterType="com.hanzoy.xueta.domain.NpcjlbExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from npcjlb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from npcjlb
    where userid = #{userid,jdbcType=INTEGER}
      and npcid = #{npcid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from npcjlb
    where userid = #{userid,jdbcType=INTEGER}
      and npcid = #{npcid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hanzoy.xueta.domain.NpcjlbExample">
    delete from npcjlb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hanzoy.xueta.domain.Npcjlb">
    insert into npcjlb (userid, npcid, isHaving, 
      favor, Reid, isDialogue, 
      propnumber)
    values (#{userid,jdbcType=INTEGER}, #{npcid,jdbcType=INTEGER}, #{ishaving,jdbcType=BIT}, 
      #{favor,jdbcType=INTEGER}, #{reid,jdbcType=INTEGER}, #{isdialogue,jdbcType=BIT}, 
      #{propnumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hanzoy.xueta.domain.Npcjlb">
    insert into npcjlb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userid,
      </if>
      <if test="npcid != null">
        npcid,
      </if>
      <if test="ishaving != null">
        isHaving,
      </if>
      <if test="favor != null">
        favor,
      </if>
      <if test="reid != null">
        Reid,
      </if>
      <if test="isdialogue != null">
        isDialogue,
      </if>
      <if test="propnumber != null">
        propnumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="npcid != null">
        #{npcid,jdbcType=INTEGER},
      </if>
      <if test="ishaving != null">
        #{ishaving,jdbcType=BIT},
      </if>
      <if test="favor != null">
        #{favor,jdbcType=INTEGER},
      </if>
      <if test="reid != null">
        #{reid,jdbcType=INTEGER},
      </if>
      <if test="isdialogue != null">
        #{isdialogue,jdbcType=BIT},
      </if>
      <if test="propnumber != null">
        #{propnumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hanzoy.xueta.domain.NpcjlbExample" resultType="java.lang.Long">
    select count(*) from npcjlb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update npcjlb
    <set>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.npcid != null">
        npcid = #{record.npcid,jdbcType=INTEGER},
      </if>
      <if test="record.ishaving != null">
        isHaving = #{record.ishaving,jdbcType=BIT},
      </if>
      <if test="record.favor != null">
        favor = #{record.favor,jdbcType=INTEGER},
      </if>
      <if test="record.reid != null">
        Reid = #{record.reid,jdbcType=INTEGER},
      </if>
      <if test="record.isdialogue != null">
        isDialogue = #{record.isdialogue,jdbcType=BIT},
      </if>
      <if test="record.propnumber != null">
        propnumber = #{record.propnumber,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update npcjlb
    set userid = #{record.userid,jdbcType=INTEGER},
      npcid = #{record.npcid,jdbcType=INTEGER},
      isHaving = #{record.ishaving,jdbcType=BIT},
      favor = #{record.favor,jdbcType=INTEGER},
      Reid = #{record.reid,jdbcType=INTEGER},
      isDialogue = #{record.isdialogue,jdbcType=BIT},
      propnumber = #{record.propnumber,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hanzoy.xueta.domain.Npcjlb">
    update npcjlb
    <set>
      <if test="ishaving != null">
        isHaving = #{ishaving,jdbcType=BIT},
      </if>
      <if test="favor != null">
        favor = #{favor,jdbcType=INTEGER},
      </if>
      <if test="reid != null">
        Reid = #{reid,jdbcType=INTEGER},
      </if>
      <if test="isdialogue != null">
        isDialogue = #{isdialogue,jdbcType=BIT},
      </if>
      <if test="propnumber != null">
        propnumber = #{propnumber,jdbcType=INTEGER},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
      and npcid = #{npcid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hanzoy.xueta.domain.Npcjlb">
    update npcjlb
    set isHaving = #{ishaving,jdbcType=BIT},
      favor = #{favor,jdbcType=INTEGER},
      Reid = #{reid,jdbcType=INTEGER},
      isDialogue = #{isdialogue,jdbcType=BIT},
      propnumber = #{propnumber,jdbcType=INTEGER}
    where userid = #{userid,jdbcType=INTEGER}
      and npcid = #{npcid,jdbcType=INTEGER}
  </update>
</mapper>